.calculator {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.calculatorItem {
    padding: 1rem;
    border: solid 1px #928374;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    position: relative;
}

.totals {
    border: solid 1px #928374;
    padding: 1rem;
}

.additionalService {
    padding-left: 1rem;
}
