.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

}

.profile {
  border-radius: 50%;
  border: solid 2px #928374;
}

.hexadin {
  text-transform: capitalize;
}

.druid {
  text-transform: capitalize;
}

.barbarian {
  text-transform: capitalize;
}

.rogue {
  text-transform: capitalize;
}

.wizard {
  text-transform: capitalize;
}

.characterWrapper {
  display: flex;
  flex-basis: 350px;
  height: 250px;
  border: ridge 15px var(--fg);
  border-radius: 20px;
  padding: 1rem;

  &:hover {
    background-color: var(--alt);
  }
}

.character {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex: 1 1 calc(25% - 1rem);
}

.charGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
