.calculatorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.calculatorItem {
  padding: 1rem;
  border: solid 1px var(--fg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 calc(25% - 2rem);
  position: relative;
  overflow-y: auto;
  max-width: 900px;
  width: 100%;

  @media screen and (max-width: 900px) {
    flex: 1 1 auto;
  }
}

.copiedIcon {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  color: var(--alt);
}

.conversion {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.conversionText {
  display: flex;
  gap: .25rem;
  flex-shrink: 1;
  align-items: center;
}

.conversionItem {
  display: flex;
  position: relative;
  gap: .5rem;
  padding: .5rem;
  border-radius: 10px;
  flex: 1 1 calc(25% - 2rem);
  border: solid 1px var(--fg);
  width: 100%;
  cursor: pointer;
}

.svgIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.calcGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  display: flex;
  justify-content: space-between;
}

.calcWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.totals {
  border: solid 1px var(--fg);
  padding: 1rem;
  position: sticky;
  bottom: 0;
  background-color: var(--bg);
  border-color: var(--alt);
}

.additionalService {
  padding-left: 1rem;
}
