.main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

.tools {
  max-width: 1200px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.calcWrap {
  max-width: 900px;
  gap: .25rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
